@font-face {
    font-family: 'Outfit-Thin';
    src: url(./fonts/static/Outfit-Regular.ttf);
}
body{
    width: 1500px;
}
.body {
    font-family: 'Outfit-Thin',sans-serif;
    margin: auto;
    width: 1000px;
    height: 600px;
    padding-top:50px ;
    background-color: hsl(225, 100%, 94%);
    background-image: url(./images/pattern-background-desktop.svg) ;
    background-size: 1000px 300px;
    background-repeat: no-repeat;
}

#all {
    background-color: hsl(225, 100%, 98%);
    width: 350px;
    margin: auto;
    border-radius: 10px;
}
#all,
#block {
        display: flex;
    flex-direction: column;
    
}
#block {
    row-gap: 20px;
    padding: 30px;
    text-align: center;
}

.illustration-hero {
    width: 350px;
    border-radius: 10px 10px 0 0;
}

h1,
h5 {
     text-shadow: 0px 0px 1px hsl(223, 47%, 23%);
    color: hsl(223, 47%, 23%);
}

h1,
h5,
p {
    margin: 0;
}

p {
    color: hsl(224, 23%, 55%);
    font: size 16px;
}
a{
    text-decoration: none;
}
#article {
    text-align: none;
    display: flex;
    background-color:hsl(225, 55%, 96%);
    padding: 10px;
    border-radius: 10px;
    column-gap: 75px;
}

#imgplan {
    display: flex;
    column-gap: 10px;
}

#plan {
    display: flex;
    flex-direction: column;
    row-gap: 5px;
}
.change{
    margin-top: 11px;
    height: 10px;
}
.change a{
    text-decoration: underline;
    color: hsl(245, 75%, 52%);
    
}
.change:hover a{
    text-decoration: none;
}

.payment {
    background-color: hsl(245, 75%, 52%);
    padding: 15px;
    border-radius: 10px;
    
    box-shadow: 5px 5px 40px hsl(233, 10%, 85%);
}
.payment {
    color: hsl(225, 100%, 98%);
}
.payment:hover {
    
    background-color:hsl(242, 76%, 70%) ;
}
#cancel p a{
    text-shadow: 0 0 1px hsl(223, 47%, 23%) ;
    color: hsl(224, 23%, 55%);
    
}
#cancel:hover p a{
    text-shadow: 0 0 2px hsl(223, 47%, 23%);
    color: hsl(223, 47%, 23%);
}
@media screen and (max-width:375px) {
    body{
        width: 500px;
    }
    .body{
        background-image:url(./images/pattern-background-mobile.svg) ;
        background-size: 400px 290px;
        width: 400px;
        height: 580px;
        background-repeat: no-repeat;
    }
    #all,.illustration-hero{
        width: 316px;
        row-gap: 2px;
    }
    #article{
        column-gap: 45px;
    }
    h1{
        font-size: 25px;
    }
}